<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
   .btn{
      width: 100%;
      height: 50px;
      font-size: 16px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">修改报名信息</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">参与者:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="uname" name="uname" value="{$info.uname}" data-rule="" placeholder="参与者">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">报名场所<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <!-- <input type="text" class="form-control" id="library_name" name="library_name" value="" data-rule="required" placeholder="阅读场所" > -->
                                        <input id="library_id" data-source="/ogjwzGqiLT.php/library/index" data-field="library_name" data-primary-key="library_name" data-params='{"custom[status]":"1"}'
                               class="form-control selectpage" name="library_name" type="text"
                               value="{$info.library_name}">
                                    </div>
                                </div>



                                <br/> <br/> <br/> <br/> <br/>
                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
