 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   line-height: 35px;
   font-size: 12px;
}
.btn{
      width: 100%;
      height: 50px;
      font-size: 16px;
   }
</style>
<div id="content-container" class="container" style="background: #fff;">
    <div class="row">
        <h2 class="page-header" style="text-align: center;">{$title}</h2> 
      
        <div style="min-height: 300px;padding: 10px;">
          {$info}
        </div>
        
    </div>
</div> 
