<style>
   .red{
     color: red;
   }
   h3{
     color: green;
   }
   .btn{
      width: 100%;
      height: 50px;
      font-size: 16px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">读者信息补充</h2>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">阅读者:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="uname" name="uname" value="{$user.username}" data-rule="" placeholder="阅读者">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">参与组别<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                      {foreach name="group_name" key="key" item="vo"}
                                        <input id='{$key}' type="radio" name="group_name" value="{$vo}"><label for="{$key}">&nbsp;{$vo}</label>&emsp;
                                      {/foreach}
                                      <br/>
                                        <!-- <input id='dwss1' type="radio" name="group_name" value="成人组" checked="checked"><label for="dwss1">&nbsp;成人组</label>
                                       <input id='dwss2' type="radio" name="group_name" value="儿童组" style="margin-left: 10px;"><label for="dwss2">&nbsp;儿童组</label><br/> -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">报名场所<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <!-- <input type="text" class="form-control" id="library_name" name="library_name" value="" data-rule="required" placeholder="阅读场所" > -->
                                        <input id="library_id" data-source="/ogjwzGqiLT.php/library/index" data-field="library_name" data-primary-key="library_name" data-params='{"custom[status]":"1"}'
                               class="form-control selectpage" name="library_name" type="text"
                               value="">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">收件地址<span class="red">*</span>:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="address" name="address" value="" data-rule="required" placeholder="收件地址" >
                                    </div>
                                </div>


                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('Ok')}</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
