<style>
    .panel-body{
        background: url('/assets/img/card_baoming1.png') no-repeat;
        background-size: 50%;
    }
    .red{
        color: red;
    }
    h3{
        color: green;
    }
    .btn{
        width: 100%;
        height: 50px;
        font-size: 16px;
    }
    td{
        line-height: 30px;
    }
    .btn2{
        width: 40%;
        height: 45px;
        line-height: 45px;
        text-align: center;
        border: 1px #dcdcdc solid;
        border-radius: 5px;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                {empty name="info"}
                <div class="remark" style="min-height: 800px;">
                    <div style="text-align: center"><img src="/assets/img/card_baoming3.png" style="height: 100px;margin-top: 10px;"></div>
                    <div style="margin-top: 10px;position: relative">{$card_index_xieyi}</div>
                    <div style="width:80%;height: 100px;position: fixed;bottom: 0px;">
                        <a id="noagree" href="javascript:void(0)" style="font-size: 16px;" class="btn2 pull-left">不同意</a>
                        <a id="agree" href="javascript:void(0)" style="font-size: 16px;" class="btn2 btn-info pull-right">同意并继续</a>
                    </div>
                </div>
                {/empty}
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            {empty name="info"}
                            <div class="forminfo" style="display: none;">
                            <h2 class="page-header" style="text-align: center;">读者证申请</h2>
                            <p style="text-align: center;color: blue;font-size: 14px;">审核时间为5个工作日<br/>届时会已短信方式通知您</p>
                            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                                {:token()}
                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">姓名:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="name" name="name" value="{$user.username}" data-rule="required" placeholder="姓名">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">身份证号码:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="idcard" name="idcard" value="{$user.idcard}" data-rule="required" placeholder="身份证号码">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">性别:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input id='dwss1' type="radio" name="sex" value="男" checked="checked"><label for="dwss1">&nbsp;男</label>
                                       <input id='dwss2' type="radio" name="sex" value="女" style="margin-left: 10px;"><label for="dwss2">&nbsp;女</label><br/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">手机号码:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="phone" name="phone" value="{$user.mobile}" data-rule="required" placeholder="手机号码">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-xs-12 col-sm-2">家庭地址:</label>
                                    <div class="col-xs-12 col-sm-4">
                                        <input type="text" class="form-control" id="address" name="address" value="" data-rule="required" placeholder="家庭地址">
                                    </div>
                                </div>


                                <div class="form-group normal-footer">
                                    <label class="control-label col-xs-12 col-sm-2"></label>
                                    <div class="col-xs-12 col-sm-8">
                                        <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('提交申请')}</button>
                                        <p style="color: red;margin-top: 10px;">系统将身份证和身份证后6位作为默认帐号和密码</p>
                                    </div>
                                </div>
                                <div style="text-align: right"><img src="/assets/img/card_baoming2.png" style="height: 200px;"></div>

                            </form>
                            </div>
                            {else/}
                            <h2 class="page-header" style="text-align: center;">读者信息</h2>
                            <div style="text-align: center;">
                                <table width="100%">
                                    <tr>
                                        <td width="120px;" align="right">姓名：</td><td align="left">{$info.name}</td>
                                    </tr>
                                    <tr>
                                        <td align="right">身份证号码：</td><td align="left">{$info.idcard}</td>
                                    </tr>
                                    <tr>
                                        <td align="right">手机号码：</td><td align="left">{$info.phone}</td>
                                    </tr>
                                </table>
                                <br/>
                                <p>图书卡条形码</p>
                                <img src="{$info.cardimg}" style="width: 60%;">
                            </div>

                            {/empty}
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
