<style>
   body{
     /*background: #fef1db;*/
       background: #fff;
   }
    .container{
        font-size: 16px;
    }

    .header_top{
        height: 200px;
        background: url('/assets/img/cardbg.png');
        background-size: 100% 100%;
        color: #fff;
        font-size: 14px;
        padding: 10px;
        margin: 5px;
    }
    .tk{
        display: none;
        width: 85%;
        border-radius: 10px;
        border: 1px #dcdcdc solid;
        margin: auto;
        padding: 20px;
        padding-top: 0px;
        background: #fff;
        text-align: center;
        position: absolute;
        top: 100px;
        left: 8%;
    }
</style>
<div id="content-container" class="container">
    <!--<div class="tk">
        <h3 style="text-align: center;color: #3685fc">读者证使用说明</h3>
        <hr>
        <p style="line-height: 30px;color: #3685fc;text-align: left">1、申请审核通过后，可以通过身份证号绑定线上职工电子书屋，进行线上阅读电子书</p>
        <p style="line-height: 30px;color: #3685fc;text-align: left">2、凭本人身份证可到线下图书馆进行免费阅读</p>
        <img src="/assets/img/intro_tk.png" style="height: 100px;">
    </div>-->
    <div class="row">
        <div style="margin-top: -15px;">
            <div class="header_top">
               <div style="line-height: 50px;font-size: 16px;height: 50px;">
                   <!--<p style="font-size:12px;padding-left: 100px;margin-top: -5px;">适用范围：大旺图书馆 | 工商大学图书馆</p>-->
                   <a href="javascript:void(0)" class="intro_tk" style="float: right;font-size: 12px;color: #fff;margin-top: -15px;">
                       <img src="/assets/img/intro.png" style="width: 20px;height: 20px;"> 使用说明
                   </a>
               </div>
               <!--<div style="padding-left: 20px;">
                   <p style="font-size: 16px;">适用范围：</p>
                   <p>大旺图书馆，工商大学图书馆，职工电子书屋</p>
               </div>-->
                <div style="height: 80px;">
                {if condition="$info.status eq 0"}
                <p style="text-align: center;color: #fff;font-size: 16px;padding-top: 10px;">5个工作日内做审核处理</p>
                {elseif condition="$info.status eq 2"}
                    <p style="text-align: center;color: #fff;font-size: 16px;padding-top: 10px;">审核失败，原因：{$info.remark}</p>
                {/if}
                </div>
               <div style="font-size: 16px;padding: 5px;overflow: hidden;">
                    {empty name="info"}
                        状态：未注册
                        <a href="{:url('card_baoming')}" style="font-size: 16px;" class="btn btn-info pull-right">去申请>></a>
                        {elseif condition="$info.status eq 0"}
                         状态：未注册
                        <a href="javascript:void(0)" style="font-size: 16px;" class="btn btn-info pull-right">审核中</a>
                        {elseif condition="$info.status eq 2"}
                         状态：未注册
                         <a href="{:url('card_baoming')}" style="font-size: 16px;" class="btn btn-info pull-right">重新申请>></a>
                        {elseif condition="$info.status eq 1"}
                        {$info.name}<br/>{$info.idcard}
                        <a href="{:url('card_baoming')}" style="font-size: 16px;margin-top: -20px;" class="btn btn-info pull-right">读者信息</a>
                    {/empty}

               </div>
            </div>

            <div class="panel panel-default" style="background: #fff;padding-left: 0px;padding-right: 0px;">
                <div class="panel-body" style="padding-left: 0px;padding-right: 0px;">
                    {if condition="$info.status eq 1"}
                    <div style="color: red;padding-left: 5px;">读者证适用于下列服务</div>
                    <hr>
                    <div style="border-left:15px solid #0070f2;margin-left:5px;padding-left: 10px;font-weight:bold">线上电子书阅读</div>
                    <div style="padding: 20px;margin: 5px;margin-top: 20px;border-radius: 10px;border: #dcdcdc 1px solid;">
                        <a href="https://b.dataesb.com/#/inBindReader/71f1e05e320e?id=471">
                        <table width="100%">
                            <tr>
                                <td width="70px;"><img src="/assets/img/dzsw.png" style="width: 60px;height: 60px;"></td>
                                <td><p style="color: #000;">职工电子书屋</p><p style="font-size: 12px;color: #ccc;">身份证号以及身份证后六位作为账号密码进行绑定</p></td>
                                <!--<td width="50px;"></td>-->
                            </tr>
                        </table>
                        </a>
                    </div>
                    <div style="border-left:15px solid #0070f2;margin-left:5px;padding-left: 10px;font-weight:bold;margin-top: 20px;">线下阅读</div>
                    {foreach name="library" key="key" item="vo"}
                    <div style="padding: 20px;margin: 5px;margin-top: 20px;border-radius: 10px;border: #dcdcdc 1px solid;">
                        <a href="{:url('library_info',['id'=>$vo.id])}">
                        <table width="100%">
                            <tr>
                                <td width="70px;"><img src="{$vo.image}" style="width: 60px;height: 60px;"></td>
                                <td><p style="color: #000;">{$vo.library_name}</p></td>
                                <td width="50px;"></td>
                            </tr>
                        </table>
                        </a>
                    </div>
                    {/foreach}

                    {else/}
                    <div style="color: red;padding-left: 5px;">温馨提示：用户需申请读者证后方可使用下列服务</div>
                    <hr>
                    <div style="border-left:15px solid #0070f2;margin-left:5px;padding-left: 10px;font-weight:bold">线上电子书阅读</div>
                    <div style="background: #ccc;padding: 20px;margin: 5px;margin-top: 20px;border-radius: 10px;">
                        <table width="100%">
                            <tr>
                                <td width="70px;"><img src="/assets/img/dzsw.png" style="width: 60px;height: 60px;"></td>
                                <td><p>职工电子书屋</p><p style="font-size: 12px;color: #999;">输入身份证进行绑定</p></td>
                                <td width="50px;"></td>
                            </tr>
                        </table>
                    </div>
                    <div style="border-left:15px solid #0070f2;margin-left:5px;padding-left: 10px;font-weight:bold;margin-top: 20px;">线下阅读</div>
                    {foreach name="library" key="key" item="vo"}
                    <div style="background: #ccc;padding: 20px;margin: 5px;margin-top: 20px;border-radius: 10px;">
                        <table width="100%">
                            <tr>
                                <td width="70px;"><img src="{$vo.image}" style="width: 60px;height: 60px;"></td>
                                <td><p>{$vo.library_name}</p></td>
                                <td width="50px;"></td>
                            </tr>
                        </table>
                    </div>
                    {/foreach}


                    {/if}
                </div>
            </div>
        </div>
    </div>
</div>
