<style>
    body{
        padding: 0px;
    }
    .tk{
        width: 100%;
        border-radius: 10px;
        /*border: 1px #dcdcdc solid;*/
        margin-top: -25px;
        padding: 20px;
        padding-top: 10px;
        background: #fff;
        text-align: center;
        /*height: 320px;*/
    }
</style>

<div class="tk">
    <h3 style="text-align: center;color: #3685fc">读者证使用说明</h3>
    <hr>
    <p style="line-height: 25px;color: #3685fc;text-align: left">1、凭读者证可以阅读线上电子书。</p>
    <p style="line-height: 25px;color: #3685fc;text-align: left">2、凭读者证可以到线下的图书馆免费阅读。</p>
    <p style="line-height: 25px;color: #3685fc;text-align: left">线下图书馆</p>
    <p style="line-height: 25px;color: #3685fc;text-align: left">1、肇庆市图书馆大旺分馆（肇庆高新区农场路8号二楼）</p>
    <p style="line-height: 25px;color: #3685fc;text-align: left">2、广东工商职业技术大学(大旺校区)（肇庆高新区建设路和荔园街交叉口东南150）</p>
    <img src="/assets/img/intro_tk.png" style="height: 100px;">
</div>
