<link href="__CDN__/assets/css/backend{$Think.config.app_debug?'':'.min'}.css?v={$Think.config.site.version}" rel="stylesheet">
<style>
.btn{
    width: 100%;
    height: 50px;
    font-size: 18px;
}
.panel-body{
    padding: 0px;
}
.sp_results > li{
     font-size: 18px;
}
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9" style="overflow: hidden;">
            <div class="panel panel-default">
                <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <h2 class="page-header" style="text-align: center;">选择书籍</h2>
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#one" data-toggle="tab">选择书籍</a></li>
                            <li><a href="#two" data-toggle="tab">手动输入书籍</a></li>
                        </ul>
                       
                        <div class="tab-pane fade active in" id="one">
                            <div class="form-group" style="text-align: center;margin-top: 50px;" >
                                <label class="control-label col-xs-12 col-sm-2">选择您要阅读的书籍<span class="red">*</span>:</label>
                                <div class="col-xs-12 col-sm-4" style="padding-top: 80px;">
                                    <input style="height: 40px;" id="book_id" data-source="/ogjwzGqiLT.php/book/index" data-field="book_name" data-primary-key="id"
                               data-field="name" class="form-control selectpage" name="book_id" type="text"
                               value="">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="two">
                            <div class="form-group" style="text-align: center;margin-top: 50px;" >
                                <label class="control-label col-xs-12 col-sm-2">手动输入您要阅读的书籍<span class="red">*</span>:</label>
                                <div class="col-xs-12 col-sm-4" style="padding-top: 80px;">
                                    <input style="height: 40px;" class="form-control" name="book_name" type="text"
                               value="">
                                </div>
                            </div>
                        </div>
                        <br/><br/><br/>
                        <div class="form-group normal-footer">
                            <label class="control-label col-xs-12 col-sm-2"></label>
                            <div class="col-xs-12 col-sm-8">
                                <button type="submit" id="submit" disabled class="btn btn-success btn-embossed disabled">确认选择</button>
                            </div>
                        </div>
                        <br/><br/><br/><br/><br/><br/>
                        
                    </div>
                </div>
                </form>    
              </div>
        </div> 
    </div>
</div>
