 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   line-height: 35px;
   font-size: 12px;
}
.btn{
      width: 100%;
      height: 50px;
      font-size: 16px;
   }
</style>
<div id="content-container" class="container" style="background: #fff;">
    <div class="row">
        <h2 class="page-header" style="text-align: center;">海报下载</h2> 
        {if condition="$status eq 0"}
           <div style="font-size: 18px;line-height: 50px;text-align: center;color: blue">内容审核中...</div>
        {elseif condition="$status eq 2"}
          <div style="font-size: 18px;line-height: 50px;text-align: center;color: red">内容未通过审核</div>
          {else/}
            {if condition="$hb_url"}
              <div style="padding: 15px;text-align: center;"><img src="{$hb_url}" width="90%"></div>
              <div style="text-align: center;color: blue">长按图片下载阅读分享海报</div>
            {else/}
              <div style="padding: 15px;text-align: center;color: red">海报生成失败！</div>
            {/if} 
        {/if}
        
    </div>
</div> 
