<style type="text/css">
	.content{
		padding-top: 0px;
	}
	.item img{
		margin: auto;
	}
</style>
<div id="content-container" class="container">
	<div class="row" style="margin-top: -15px;">
	    <div id="myCarousel" class="carousel slide">
		    <!-- 轮播（Carousel）指标 -->
		    <!-- <ol class="carousel-indicators">	    	
		        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
		    </ol>  -->  
		    <!-- 轮播（Carousel）项目 -->
		    <div class="carousel-inner">
		        <div class="item active">
		            <img src="{$info.image}">
		        </div>
		  
		    </div>
		    <!-- 轮播（Carousel）导航 -->
		    <!-- <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a> -->
		</div>
		<div style="padding: 10px;font-size: 14px">
			<p style="color: #000;font-size: 18px;font-weight: bold;">{$info.good_name}</p>
			<a href="javascript:void(0)" id="dh" data-id="{$info.id}" style="font-size: 16px;" class="btn btn-info pull-right">确认兑换</a>
			<p style="color: blue">市场价：{$info.price}</p>
			<p style="color: blue">兑换积分：{$info.score}</p>

		</div>
		<div style="height: 45px;background: #eee;text-align: center;line-height: 45px;font-size: 18px;">商品详情</div>
		<div style="padding: 20px;text-align: center;font-weight: bold;font-size: 21px;">
		  {$info.intro}
		</div>
	</div>
</div>
