<style>
    .container{
        font-size: 16px;
        background: #fff;
    }
    .header{
        background: #18bc9c;
        font-size: 18px;
        height: 60px;
        line-height: 60px;
        padding: 0 10px;
        color: #fff;
    }
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
    .divtop{
        height: 200px;
        background: url('/assets/img/goodlisttop.png');
        background-size: 100% 100%;
        
    }
    .butdiv{
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow:row wrap;
        align-content: flex-start;
    }
    .but{
        width: 90px;
        height: 80px;
        background: #d2c43f;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        border-radius: 10px;
    }
    .binfo{
        font-size: 14px;
        line-height: 10px;
    }
    table{
        margin-top: 10px;
        width: 100%;
    }
    td{
        border-bottom: 1px solid #18bc9c;
        padding: 5px;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
    
        <div style="margin-top: -15px;">
            <!-- <div class="header">
                您好！{$user.username}
            </div> -->
            <!-- <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row user-baseinfo">
                         <div class="butdiv">
                            <div class="but">可用积分<div class="binfo">{$user.score}分</div></div>
                            <div class="but" style="background:#18bc9c ">累计积分<div class="binfo">{$user.total_score}分</div></div>
                            <div class="but" style="background:#e85c5c;line-height: 80px;"><a href="{:url('order_list')}" style="color: #fff;">兑换记录>></a></div>
                        </div>    
                    </div>
                </div>
            </div> -->
            <div class="divtop"></div>
            <div style="overflow: hidden;padding: 10px;">
                <div style="float: left;color: #EFAC00;font-size: 18px"><img src="/assets/img/jifen.png" style="height: 35px;width: 35px">{$user.score}分</div>
                <div style="float: right;"><a href="{:url('order_list')}" style="color: #999;">兑换记录>></a></div>
            </div>
            <img src="/assets/img/goodlisttitle.png" style="width: 100%;">
            
            <!-- <div>
                <table>
                    {foreach name="list" key="key" item="vo"}
                    <tr>
                        <td width="110px;"><img src="{$vo.image}" width="100px" height="100px;"></td>
                        <td valign="top">
                            <div>{$vo.good_name}</div>
                            <div>市场价：{$vo.price}</div>
                            <div>兑换积分：{$vo.score}</div>
                        </td>
                        <td><a href="{:url('goods_info',['id'=>$vo.id])}" class="btn btn-info pull-right">去兑换></a></td>
                    </tr>
                    {/foreach}
                </table>
            </div> -->
            <div class="butdiv">
                {foreach name="list" key="key" item="vo"}
                    <div style="width: 48%;height: 300px;padding: 10px;">
                        <div><img src="{$vo.image}" width="100%" height="150px"></div>
                        <div style="text-align: center;font-size: 18px;font-weight: bold;color: #000;padding: 10px;">{$vo.good_name}</div>
                        <div style="overflow: hidden;color: #999;">
                            <div style="float: left;"><font color="#EFAC00">{$vo.score}</font>积分</div>
                            <div style="float: right;">￥{$vo.price}</div>
                        </div>
                        <div><a href="{:url('goods_info',['id'=>$vo.id])}" style="width: 100%;margin: 10px 0;" class="btn btn-info">去兑换></a></div>
                    </div>
                {/foreach}
            </div>
        </div>
    </div>
</div>
