<style>
    .container{
        font-size: 16px;
    }
    .header{
        background: #18bc9c;
        font-size: 18px;
        height: 60px;
        line-height: 60px;
        padding: 0 10px;
        color: #fff;
    }
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }

    .butdiv{
        margin-top: 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow:row wrap;
        align-content: flex-start;
    }
    .but{
        width: 90px;
        height: 80px;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        border-radius: 10px;
    }
    .binfo{
        font-size: 14px;
        line-height: 10px;
    }
    .bmbtn{
        height: 45px;
        width: 180px;
        line-height: 45px;
        margin: auto;
        text-align: center;
        color: #fff;
        background: #18bc9c;
        margin-top: 25px;
        font-size: 16px;
    }
    table{
        width: 100%;
        margin-top: 10px;
        font-size: 14px;

    }
    td{
        color: blue;
        padding-bottom: 20px;
    }

    .header_top{
        height: 180px;
        background: url('/assets/img/index_top.png');
        background-size: 100% 100%;
        color: #fff;
        font-size: 14px;
        padding: 10px;
    }
    .nameinfo{
        height: 80px;
        overflow: hidden;
    }
    .tbut{
        width: 80px;
        height: 80px;
        line-height: 50px;
        text-align: center;
        border-radius: 10px;
    }
    .tbut img{
        width: 35px;
        height: 35px;
        margin: 10px 0px;
    }
</style>
<div id="content-container" class="container">
    <div class="row">

        <div style="margin-top: -15px;">
            <!-- <div class="header">
                您好！{$user.username}
                <a href="{:url('goods_list')}" style="margin-top: 15px" class="btn btn-info pull-right">积分商品兑换></a>
            </div> -->
            <div class="header_top">
                <div class="nameinfo">
                    <!-- <img src="/assets/img/avatar.png" style="height: 70px;width: 70px;border-radius: 5px;float: left;"> -->
                    <div style="padding-left: 10px;float: left;padding-top: 5px;">
                        <p style="font-size: 21px;font-weight: bold;">{$user.username}<span style="font-size: 16px;">{$levelName}</span></p>
                        <p>活动状态：
                            {if condition="$isBm"}
                            已报名 ({$bmNum}人报名)
                            {else/}
                            未报名
                            {/if}
                        </p>
                    </div>
                    {if condition="!$isBm"}
                        <a href="{:url('baoming')}" style="margin-top: 15px;" class="btn btn-info pull-right">参与报名>></a>
                        {else/}
                        <a href="{:url('baoming_edit',['id'=>$bmInfo.id])}" style="margin-top: 0px;position: absolute;right: 10px;top:15px;" class="btn btn-info pull-right"><!-- {$bmInfo.library_name} -->报名信息修改>></a>
                    {/if}
                </div>
                <div class="butdiv">
                    <a href="{:url('qiandao_list')}"><div class="but">签到<div class="binfo">{$qdNum}天</div></div></a>
                    <a href="{:url('score_top')}"><div class="but">累计积分<div class="binfo">{$user.total_score}分</div></div></a>
                    <a href="{:url('score_top')}"><div class="but">当前排行<div class="binfo">{$topNum}名</div></div></a>
                </div>
            </div>
            <div class="butdiv">
                <a href="{:url('baominggz',['type'=>1])}"><div class="tbut"><img src="/assets/img/index_t1.png"><div class="binfo">活动规则</div></div></a>
                <a href="{:url('baominggz',['type'=>2])}"><div class="tbut"><img src="/assets/img/index_t2.png"><div class="binfo">积分规则</div></div></a>
                <a href="{:url('goods_list')}"><div class="tbut"><img src="/assets/img/index_t3.png"><div class="binfo">积分兑换</div></div></a>
                <!-- <a href="{:url('baominggz',['type'=>3])}"><div class="tbut"><img src="/assets/img/index_t4.png"><div class="binfo">活动奖品</div></div></a> -->
                <a href="{:url('words_list')}"><div class="tbut"><img src="/assets/img/index_t4.png"><div class="binfo">优秀感言</div></div></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row user-baseinfo">
                        <div style="text-align: center;position: relative">
                            <img src="/assets/img/index_book.png" style="width: 100%;">
                            <a href="{:url('card_index')}" style="position: absolute;top:-10px;right:0px;">办理读者证》</a>
                            <p style="color: blue;margin-top: 10px;margin-bottom: 20px;">
                                {if condition="$book"}《{$book.book_name}》{else/}请选择书籍{/if}
                            </p>
                            <!-- <p style="font-size: 12px;"><a href="{:url('choose_book')}">选择或更换阅读书籍>>></a></p> -->
                            {if condition="$book"}
                            <a href="{:url('my_word')}" class="btn btn-info" style="background:#FA9133;font-size: 18px;border-radius: 10px;">发布感言</a>
                            {else/}
                            <a href="javascript:void(0)" class="btn btn-info" style="background:#ccc;font-size: 18px;border-radius: 10px;">发布感言</a>
                            {/if}
                            <a href="{:url('choose_book')}" class="btn btn-info" style="background:#3391FA;font-size: 18px;border-radius: 10px;margin-left: 20px;">{if condition="$book"}更换书籍{else/}选择书籍{/if}</a>
                        </div>
                        <div style="margin-top: 30px;">
                            <span style="color: #000;font-weight: bold;">我的阅读感言</span>
                            <!-- <a href="{:url('my_word')}" class="btn btn-info pull-right">发布感言</a> -->
                        </div>
                        <div style="min-height: 50px;margin-top: 20px;">
                            <table>
                            {foreach name="word_list" key="key" item="vo"}
                                <tr><!-- <td width="15px;">{$key+1}</td> -->
                                    <td><a href="{:url('create_img',['id'=>$vo.id])}">
                                        <div style="overflow: hidden;color: #000;font-weight: bold;">{$vo.createtime|date="Y-m-d",###}《{$vo.book_name}》
                                            <div style="float: right;"><font color="red"><img src="/assets/img/zan.png" style="width: 15px;">  {$vo.dz_num}</font></div>
                                        </div>
                                        <div style="color: #666;line-height: 30px;">{$vo.content|mb_substr=0,100}</div>
                                        <div style="text-align: right;">
                                            {if condition="$vo.status eq 0"}
                                            <font color="blue">审核中</font>
                                            {elseif condition="$vo.status eq 2"}
                                            <font color="red">审核拒绝</font>
                                            {else/}
                                            <font color="green">海报下载</font>
                                            {/if}
                                        </div>
                                        </a>
                                    </td>
                                </tr>
                            {/foreach}
                            </table>
                        </div>
                        <!-- <div style="text-align: center;margin-top: 10px;">
                            <a href="#one" data-toggle="tab">活动规则</a>&nbsp;|&nbsp;<a href="#two" data-toggle="tab">积分规则</a>&nbsp;|&nbsp;<a href="#three" data-toggle="tab">奖励奖品</a>
                            <div id="myTabContent" class="tab-content" style="text-align: left;margin-top: 10px;font-size: 12px;">
                                <div class="tab-pane fade active in" id="one">{$activeInfo.active_rule}</div>
                                <div class="tab-pane fade" id="two">{$activeInfo.score_rule}</div>
                                <div class="tab-pane fade" id="three">{$activeInfo.prize_name}</div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
