<style>
    .red{
        color: red;
    }
    h3{
        color: green;
    }
    .btn{
        width: 100%;
        height: 50px;
        font-size: 16px;
    }
    img{
        max-width: 100%;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade active in" id="one">
                            <h2 class="page-header" style="text-align: center;">{$info.library_name}</h2>
                            <div>{$info.content}</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
