 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   line-height: 35px;
   font-size: 12px;
}
.btn{
      width: 100%;
      height: 50px;
      font-size: 16px;
   }
</style>
<div id="content-container" class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="tab-pane fade active in" id="one">
                    <h2 class="page-header" style="text-align: center;">阅读感言发布</h2>  
                    <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                        {:token()}
                        <div class="form-group">
                            <label for="c-business_scope" class="control-label col-xs-12 col-sm-2">阅读感言:</label>
                            <div class="col-xs-12 col-sm-8">
                                <textarea id="c-content" name="content" class="form-control" placeholder="输入您的阅读感言" data-rule="required;" style="height: 250px"></textarea>
                                <div style="text-align: right;margin-top: -40px;padding: 10px;"><font id="wnum">0</font>/150</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="c-avatar" class="control-label col-xs-12 col-sm-2">上传阅读图片:</label>
                            <div class="col-xs-12 col-sm-8">
                                <div class="input-group">
                                    <input id="c-avatar" type="hidden" data-rule="" class="form-control" size="50" name="image" type="text" value="">
                                    <div class="input-group-addon no-border no-padding upimg">
                                        <button type="button" data-url="{:url('index/ajax/upload_thum')}" id="plupload-avatar" class="btn plupload" data-input-id="c-avatar" data-mimetype="image/*" data-multiple="false" data-preview-id="p-avatar"><i class="fa fa-upload"></i> 上传阅读图片</button>
                                    </div>
                                    <span class="msg-box n-right" for="c-avatar"></span>
                                </div>
                                <ul class="row list-inline plupload-preview" id="p-avatar"></ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" name="book_id" value="{$book.id}">
                            <input type="hidden" name="book_name" value="{$book.book_name}">
                            <div class="col-xs-12 col-sm-8">当前阅读书籍<font color="blue">《{$book.book_name}》</font></div>
                        </div>
                        <div class="form-group normal-footer">
                            <label class="control-label col-xs-12 col-sm-2"></label>
                            <div class="col-xs-12 col-sm-8">
                                <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">{:__('阅读感言发布')}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
