
<style type="text/css">
    body{
        padding-top: 0px;
    }
    tr{
        height: 35px;
    }
    td{
        padding: 5px 15px;
    }

   .msg-box{
      display: block;
   }
   .user_type{
     overflow: hidden;
     margin-top: 5px;

   }
   .left{
     /*float: left;*/
     padding-right: 5px;
     vertical-align: top;
   }

   .tip{
    color: #ccc;
   }
   .btn{
     display: block;
     width: 100%;
     height: 50px;
     font-size: 18px;
   }
   .red{
     color: red;
   }
   h2{
      text-align: center;
   }

</style>
<div id="content-container" class="container">
  {notempty name="info"}
    <div class="row">       
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h2 style="color: red;text-align: center;">商品信息！</h2>
             <table>
                <tr>
                    <td width="110px;"><img src="{$info.image}" width="100px" height="100px;"></td>
                    <td valign="top">
                        <div style="line-height: 30px;">{$info.good_name}</div>
                        <div style="line-height: 30px;">市场价：{$info.price}</div>
                        <div style="line-height: 30px;">兑换积分：{$info.score}</div>
                    </td>
                    <td></td>
                </tr>
            </table>
            <h2 style="color: blue;text-align: center;">兑换人信息</h2>
            <table><tr><td>{$uinfo['username']}</td><td>{$uinfo['idcard']}</td><td>{$uinfo['mobile']}</td></tr></table>
        </div> 
    </div>
    
    <div class="row" style="margin-top: 50px">
        <div class="col-md-9">
           {if condition="$info.status==0"}
            <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                {:token()}
                <input type="hidden" name="id" value="{$info.id}">
                <div class="form-group">
                    <label class="control-label col-xs-12 col-sm-2">管理员核销码<span class="red">*</span>:</label>
                    <div class="col-xs-12 col-sm-4">
                        <input type="text" style="height: 50px;font-size: 18px;" class="form-control" id="code" name="code" value="{$check_code}" data-rule="required" placeholder="请输入您的管理员核销码">
                    </div>
                </div>
                <div class="form-group normal-footer">
                    <label class="control-label col-xs-12 col-sm-2"></label>
                    <div class="col-xs-12 col-sm-8">
                        <button type="submit" id="submit" disabled class="btn btn-success btn-embossed disabled">确定核销</button>
                    </div>
                </div>
            </form>
            {else/}
              <p style="font-size: 18px;text-align: center;color: red;">该订单已核销！</p>
            {/if}
        </div>
    </div> 
  {else/}
   <h3 style="text-align: center;color: red;">改订单不存在</h3>
  {/notempty}
</div>    