<style>
    .container{
        font-size: 16px;
    }
    .header{
        background: #18bc9c;
        font-size: 18px;
        height: 60px;
        line-height: 60px;
        padding: 0 10px;
        color: #fff;
    }
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
    .butdiv{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow:row wrap;
        align-content: flex-start;
    }
    .but{
        width: 90px;
        height: 80px;
        background: #d2c43f;
        line-height: 50px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        border-radius: 10px;
    }
    .binfo{
        font-size: 14px;
        line-height: 10px;
    }
    table{
        margin-top: 10px;
        width: 100%;
    }
    td{
        padding: 5px;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
    
        <div style="margin-top: -15px;">
            <div class="header">
                您好！{$user.username}
            </div>
            <div style="height: 35px;background: #eee;text-align: center;line-height: 35px;">兑换记录</div>
            <div>
                <table>
                    {foreach name="list" key="key" item="vo"}
                    <tr>
                        <td width="110px;" valign="top"><img src="{$vo.image}" width="100px" height="120px;"></td>
                        <td valign="top">
                            <div style="font-weight: bold;font-size: 16px;color: #000;">{$vo.good_name}</div>
                            <div>市场价：{$vo.price}</div>
                            <div>兑换积分：{$vo.score}</div>
                        </td>
                        <td align="center">
                            <a href="{:addon_url('qrcode/index/build',[],false)}?text={$vo.url}"><img alt="" width="100px" src="{:addon_url('qrcode/index/build',[],false)}?text={$vo.url}"/></a>
                            <p style="text-align: center;">兑换码</p>
                        </td>
                    </tr>
                    <tr><td colspan="3" style="border-bottom: 1px solid #18bc9c;">地址：{$vo.address}</td></tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </div>
</div>
