<style>
    .container{
        font-size: 16px;
    }
    .header{
        background: #18bc9c;
        font-size: 18px;
        height: 60px;
        line-height: 60px;
        padding: 0 10px;
        color: #fff;
    }
    .basicinfo {
        margin: 15px 0;
    }

    .basicinfo .row > .col-xs-4 {
        padding-right: 0;
    }

    .basicinfo .row > div {
        margin: 5px 0;
    }
    .butdiv{
        margin-top: 0px;
        height: 150px;
        background: url('/assets/img/qdtop.png');
        background-size: 100% 100%;
    }
    .but{
        width: 80px;
        height: 80px;
        background: #d2c43f;
        line-height: 80px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        border-radius: 10px;
        margin: auto;
        border-radius: 80px;
    }
    .binfo{
        font-size: 14px;
        line-height: 10px;
    }
    table{
        margin: auto;
        margin-top: 10px;
        width: 90%;
    }
    td{
        padding: 5px 0;
        text-align: left;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
    
        <div style="margin-top: -15px;">
            <!-- <div class="header">
                您好！{$user.username}
            </div> -->
            
            <div class="row user-baseinfo" style="margin-bottom: 5px;">
                 <div class="butdiv">
                    
                </div>    
            </div>
              
            {if condition="$isQd==0"}
              <div class="but" id="qdbtn">签到</div>
              {else/}
              <div class="but" style="background: #ccc;">已签到</div>
            {/if}
            <div>
                <table>
                    
                    {foreach name="list" key="key" item="vo"}
                    <tr>
                        <td><p style="color: #000;font-weight: bold;">第{$total-$key}天签到</p><p>{$vo.createtime|date="Y-m-d H:i:s",###}</p></td>
                        <td style="color: #EFAC00;font-size: 16px;font-weight: bold;text-align: right;"><img src="/assets/img/jifen.png" style="height: 25px;width: 25px"> + {$vo.score}</td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </div>
</div>
