<style>
    .container{
        font-size: 16px;
    }
    
    .butdiv{
        margin-top: 0px;
        height: 200px;
        background: url('/assets/img/scoretop.png');
        background-size: 100% 100%;
    }
    
    .binfo{
        font-size: 14px;
        line-height: 10px;
    }
    table{
        margin: auto;
        margin-top: 10px;
        width: 95%;
    }
    td{
        padding: 5px 0;
        text-align: left;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
    
        <div class="panel panel-default" style="margin-top: -15px;">
            <div class="row user-baseinfo" style="margin-bottom: 5px;">
                 <div class="butdiv">
                    
                </div>    
            </div>
              
            <div class="panel-body">
                <div id="myTabContent" class="tab-content">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#one" data-toggle="tab">赛季积分排行</a></li>
                        <li><a href="#two" data-toggle="tab">累计积分排行</a></li>
                    </ul>
                    <div class="tab-pane fade active in" id="one">
                        <table>
                            <tr><td width="80px;" style="text-align: center;">排名</td><td>用户昵称</td><td style="text-align: center;">积分</td></tr>
                            {foreach name="list" key="key" item="vo"}
                            <tr>
                                <td style="text-align: center;">
                                    {if condition="$key==0"}
                                      <img src="/assets/img/top1.png" style="height: 25px;width: 30px">
                                    {elseif condition="$key==1"}
                                      <img src="/assets/img/top2.png" style="height: 25px;width: 30px">
                                    {elseif condition="$key==2"}
                                        <img src="/assets/img/top3.png" style="height: 25px;width: 30px">
                                    {else/}
                                        {$key+1}
                                    {/if}
                                </td>
                                <td>{$vo.username}</td>
                                <td style="text-align: center;">{$vo.total_score}</td>
                            </tr>
                            {/foreach}
                        </table>
                    </div>

                    <div class="tab-pane fade" id="two">
                        <table>
                            <tr><td width="80px;" style="text-align: center;">排名</td><td>用户昵称</td><td style="text-align: center;">积分</td></tr>
                            {foreach name="list2" key="key" item="vo"}
                            <tr>
                                <td style="text-align: center;">
                                    {if condition="$key==0"}
                                      <img src="/assets/img/top1.png" style="height: 25px;width: 30px">
                                    {elseif condition="$key==1"}
                                      <img src="/assets/img/top2.png" style="height: 25px;width: 30px">
                                    {elseif condition="$key==2"}
                                        <img src="/assets/img/top3.png" style="height: 25px;width: 30px">
                                    {else/}
                                        {$key+1}
                                    {/if}
                                </td>
                                <td>{$vo.username}</td>
                                <td style="text-align: center;">{$vo.total_score}</td>
                            </tr>
                            {/foreach}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
