 <style>
 .name{
   line-height: 35px;
   font-size: 14px;
   overflow: hidden;
 }
.info{
   line-height: 35px;
   font-size: 12px;
}
.btn{
      width: 100%;
      height: 50px;
      font-size: 16px;
   }
</style>
<div id="content-container" class="container" style="background: #fff;">
    <div class="row">
        <h2 class="page-header" style="text-align: center;">阅读感言</h2> 
        <div style="padding: 15px;font-size: 12px;">阅读书籍：《{$info.book_name}》&nbsp;&nbsp;&nbsp;&nbsp;读者：{$info.uname}&nbsp;&nbsp;&nbsp;&nbsp;分享时间：{$info.createtime|date="Y-m-d",###}</div> 
        <div style="padding: 15px;font-size: 16px;">{$info.content}</div>
        <div style="padding: 15px;min-height: 50px;">
          <p align="right" style="color: blue">点赞数：{$info.dz_num}</p>
         
            {if condition="!$isDz"}
              <form id="user-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
                  {:token()}
                  <input type="hidden" name="openId" value="{$openId}">
                  <button type="submit" id="submit" disabled="disabled" class="btn btn-success btn-embossed disabled">为他点赞</button>
              </form>
            {else/}
                <button type="submit" disabled="disabled" style="background: #ccc;" class="btn btn-success btn-embossed disabled">已点赞</button>
            {/if}
            
        </div>
    </div>
</div> 
