<style>
    .container{
        font-size: 16px;
    }
    table{
        width: 100%;
        margin-top: 10px;
        font-size: 14px;
        
    }
    td{
        color: blue;
        padding-bottom: 20px;
    }
</style>
<div id="content-container" class="container">
    <div class="row">
    
        <div class="panel panel-default"> 
            <div class="panel-body">
                <div id="myTabContent" class="tab-content">
                    <h2 class="page-header" style="text-align: center;">优秀感言</h2>
                    <div class="tab-pane fade active in" id="one">
                        <table>
                            {foreach name="list" key="key" item="vo"}
                                <tr><!-- <td width="15px;">{$key+1}</td> -->
                                    <td>
                                        <div style="overflow: hidden;color: #000;font-weight: bold;">{$vo.createtime|date="Y-m-d",###}《{$vo.book_name}》
                                            <div style="float: right;"><font color="red"><img src="/assets/img/zan.png" style="width: 15px;">  {$vo.dz_num}</font></div>
                                        </div>
                                        <div style="color: #666;line-height: 30px;">{$vo.content|mb_substr=0,150}</div>
                                    </td>
                                </tr>
                            {/foreach}
                            </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
