<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Active_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-active_name" class="form-control" name="row[active_name]" type="text" value="{$row.active_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Active_rule')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-active_rule" class="form-control editor" rows="5" name="row[active_rule]" cols="50">{$row.active_rule|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Score_rule')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-score_rule" class="form-control editor" rows="5" name="row[score_rule]" cols="50">{$row.score_rule|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Prize_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-prize_name" data-rule="required" class="form-control" name="row[prize_name]" type="text" value="{$row.prize_name|htmlentities}">
        </div>
    </div>
    <!-- <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-status" data-rule="required" class="form-control" name="row[status]" type="number" value="{$row.status|htmlentities}">
        </div>
    </div> -->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Starttime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-starttime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[starttime]" type="text" value="{:$row.starttime?datetime($row.starttime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Endtime')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-endtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[endtime]" type="text" value="{:$row.endtime?datetime($row.endtime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('报名开始时间')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bm_starttime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[bm_starttime]" type="text" value="{:$row.bm_starttime?datetime($row.bm_starttime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('报名结束')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-bm_endtime" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[bm_endtime]" type="text" value="{:$row.bm_endtime?datetime($row.bm_endtime):''}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Daka_score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-daka_score" data-rule="required" class="form-control" name="row[daka_score]" type="number" value="{$row.daka_score|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zan_score')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zan_score" data-rule="required" class="form-control" name="row[zan_score]" type="number" value="{$row.zan_score|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('发表感言积分')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-words_score" data-rule="required" class="form-control" name="row[words_score]" type="number" value="{$row.words_score|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
